@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: center;">
    <h1>Welcome to Ollama!</h1>
    <p>Use the navigation bar at the top to get started.</p>
    <img src="/images/smileLogoBlue.png" alt="SMile" style="width: 50%; max-width: 300px;" />
    
</div>
